@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    --rich-black: #0C1618;
    --charcoal: #424C55;
    --dun-color: #CDC5B4;
    --rose-quartz: #B59DA4;
    --celestial-blue: #279AF1;
    --picton-blue: #00A6FB;
    --text-color: #000000;
}

* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.wrapper .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--rich-black);
    flex-shrink: 1;
    width: 240px;
    padding: 5px 5px;
}

.wrapper .sidebar .navLogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--dun-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}

.wrapper .sidebar .navSearch {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    height: 24px;
    background: var(--charcoal);
    padding: 5px 10px;
    color: var(--dun-color);
}

.wrapper .sidebar .navSearch input {
    border-style: none;
    height: 90%;
    width: 80%;
    font-size: 16px;
    background: var(--charcoal);
    outline: none;
    color: var(--dun-color);
}

.wrapper .sidebar .navLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    height: 24px;
    background: var(--charcoal);
    padding: 5px 10px;
    color: var(--dun-color);
    transition: background 0.3s, color 0.3s;
}

.wrapper .sidebar .navLink:hover {
    background: var(--dun-color);
    color: var(--rich-black);
}

.wrapper .sidebar footer {
    display: flex;
    color: var(--dun-color);
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 2vh;
    align-self: center;
}

.wrapper .mainContent {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 100%;
    padding: 20px 20px;
}

.wrapper .mainContentTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper .mainContent .mainContentTitle .newButton {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    height: 24px;
    width: 6vw;
    background: var(--charcoal);
    padding: 5px 10px;
    color: var(--dun-color);
    transition: background 0.3s, color 0.3s;
}

.wrapper .mainContent .mainContentTitle .newButton:hover {
    background: var(--dun-color);
    color: var(--rich-black);
}

.wrapper .mainContent .mainContentDiv {
    /*display: flex;*/
    /*flex-direction: row;*/
    background: var(--rich-black);
    border-radius: 16px;
    padding: 4px;
    width: 100%;
    height: 100%;
}

.wrapper .mainContent .mainContentDiv .table {
    display: none;
    padding: 2px;
    width: 100%;
}

.wrapper .mainContent .mainContentDiv .table th {
    background: var(--dun-color);
    border-radius: 16px;
    height: 24px;
    padding: 5px 10px;
    text-align: left;
}

.wrapper .mainContent .mainContentDiv .table td {
    border-radius: 16px;
    height: 16px;
    padding: 5px 10px;
    margin-top: 20px;
}

.wrapper .mainContent .mainContentDiv .table tr {
    background: var(--charcoal);
    border-radius: 16px;
    height: 16px;
    padding: 5px 10px;
    margin-top: 20px;
}

.wrapper .mainContent .mainContentDiv .table .tableBody tr:hover {
    filter: brightness(1.3);
}

.wrapper .mainContent .mainContentDiv .taskContainer {
    display: flex;
    flex-direction: column;
    padding: 2px 2px;
    gap: 5px;

}

.wrapper .mainContent .mainContentDiv .taskContainer .taskItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    height: auto;
    background: var(--charcoal);
    padding: 5px 10px;
}

.wrapper .mainContent .mainContentDiv .taskContainer .taskItem .doneOrRemove {
    display: flex;
    align-self: center;
    justify-self: center;
}